

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 80%;
  border: 1px solid #ddd;
  /* border-left:1px solid rgb(227, 56, 56) ; */
}

th, td {
  text-align: left;
  padding: 16px;
}

th{
  background-color: rgb(157, 255, 200);
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

table.center {
  margin-left: auto; 
  margin-right: auto;
}

/* pages navigation */
.pages .pages-ul {
  display: flex;
  justify-content: center;
}

.pages-ul a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
  cursor: pointer;
}

.pages-ul a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pages-ul a:hover:not(.active) {background-color: #ddd;}